html
  head
    title= `Voiceover by ${author}`
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href=`${root}/static/style.css`)
  body
    center
      audio(controls autoplay)
        source(src= path)
      br
      br
      form(action= path)
        input(type="submit" value="Download")