html
  head
    title="VoiceBot"
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href=`${root}/static/style.css`)
  body
    for item in items 
        h2
            a(href=`${item}/`) #{item}
            br
            br